.list {
    position: relative;
    margin-bottom: var(--mantine-spacing-md);
  }
  
  .indicator {
    background-color: var(--mantine-color-dark-3);
    border-radius: var(--mantine-radius-md);
  }
  
  .tab {
    z-index: 1;
    font-weight: 500;
    transition: color 100ms ease;
    color: var(--mantine-color-gray-7);
  
    &[data-active] {
      color: var(--mantine-color-white);
    }
  
    @mixin dark {
      color: var(--mantine-color-dark-1);
  
      &[data-active] {
        color: var(--mantine-color-white);
      }
    }
  }